{% extends 'auth_layout.html' %}
{% block content %}
<div class="col-md-4 offset-4 border border-dark" style="margin-top: 15%; padding: 25px 0px">
    <div class="row justify-content-center">
        <h3>Create an Account</h3>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            {# {% for error in form.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{ error }}</strong>
                </div>
            {% endfor %} #}
            
            <form action="{{ url_for('authentication.register') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.first_name(class="form-control", placeholder="First Name") }}
                </div>
                <div class="form-group">
                    {{ form.last_name(class="form-control", placeholder="Last Name") }}
                </div>
                <div class="form-group">
                    {{ form.email(class="form-control", placeholder="Email") }}
                    {% for error in form.email.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.password(class="form-control", placeholder="Password") }}
                </div>
                <div class="form-group">
                    {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
                </div>
                {{ form.submit(class="btn btn-primary btn-block") }}
            </form>
            <div class="row justify-content-center" style="margin-top: 5px">
                <strong>Already have an account? <a href="{{ url_for('authentication.login') }}">Sign In</a></strong>
            </div>
        </div>
    </div>
</div>
{% endblock content %}